.ticket_info_container{
    background: transparent;
}

.app-visit-cancel{
  position: absolute;
  width: 100%;
}

.expand-view-btn, .expand-view-ticket{
  float: none !important;
  width: 100% !important;
}

.expand-view-btn{
  margin: 0 auto 0 auto !important;
}

.ticket_branch{
  position: relative;
  top: 6px;
}

.ticket-container-center{
  float: none !important;
}

@media (orientation : landscape) and (max-height: 500px) {
  .ticket-container{
    width: 50%;
    float: left;
    margin: 0 auto;
  }
  .button-container{
    width: 43%;
    float: left;
  }
}
