.ticket_info_container {
  background: transparent;
}

.app-visit-cancel {
  position: absolute;
  width: 100%;
}

.expand-view-btn, .expand-view-ticket {
  float: none !important;
  width: 100% !important;
}

.expand-view-btn {
  margin: 0 auto 0 auto !important;
}

.visitcall-heading-one {
  padding-bottom: 1em;
  font-family: Roboto-Bold;
}

.visitcall-heading-three {
  font-size: 25px;
  font-family: Roboto-Bold;
  word-wrap: break-word;
}

.ticket_branch{
  position: relative;
  top: 6px;

  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  margin: 0em auto !important;
}

.ticket-container-center {
  float: none !important;
}

.button-container {
  margin: 1em 0;
}

.inner-padding {
  padding-top: 10px;
}

.placement-layout{
  width: 90%;
  text-overflow: ellipsis;
  margin: 0 auto;
}
