<div [hidden]="isUrlVisitLoading" class="inner-margin-separator">
  <div class="row" [hidden]="isVisitCall && !isVisitRecycled">
    <app-queue-container #queueComponent
                          (onUrlAccessedTicket)='onUrlAccessedTicket($event)'
                         (onTciketNmbrChange)='onTciketNmbrChange($event)'
                         (onServiceNameUpdate)='onServiceNameUpdate($event)' (onNetworkErr)='onNetworkErr($event)'
                         (onBranchUpdate)='onBranchUpdate($event)'
                         (onVisitNotFound)='onVisitNotFound($event)'
                         (onUrlVisitLoading)='onUrlVisitLoading($event)'
                         (onVisitStatusUpdate)='onVisitStatusUpdate($event)'></app-queue-container>
  </div>

  <div [hidden]="!isVisitCall" class="row">
    <div class="col-xs-12 col-xxs">
      <div [hidden]="isNetworkErr" class="center-text sub-heading-text-2 custom text-color">
        <div *ngIf="visitCallMsgOne && !isVisitRecycled" [innerHTML]="visitCallMsgOne" class="visitcall-heading-one"></div>
        <div *ngIf="visitCallMsg && !isVisitRecycled" [innerHTML]="visitCallMsg"></div>
        <div *ngIf="visitCallMsgThree && !isVisitRecycled" [innerHTML]="visitCallMsgThree" class="visitcall-heading-three"></div>
      </div>
      <div [hidden]="!isNetworkErr">
        <app-network-message></app-network-message>
      </div>
    </div>
  </div>

  <div *ngIf='branchEntity && !isVisitCall' class="sub-heading-text-1 text-center inner-padding placement-layout"><span class="ticket_branch custom text-color">{{ branchEntity.name }}</span></div>
  <div class="parent-container row">
    <div
      [ngClass]="{'ticket-container-rtl' : isRtl, 'ticket-container' : true, 'ticket-container-center' : isVisitCall, 'expand-view-ticket': isTicketEndedOrDeleted}">
      <app-ticket #ticketNumberComponent [isTicketEndedOrDeleted]="isTicketEndedOrDeleted" [isAfterCalled]="isAfterCalled"></app-ticket>
    </div>
    <div [hidden]="isVisitCall && !isVisitRecycled" [ngClass]="{'button-container-rtl' : isRtl, 'button-container' : true, 'expand-view-btn': isTicketEndedOrDeleted}">
      <app-visit-cancel #cancelVisitComponent [isUrlAccessedTicket]='isUrlAccessedTicket' [isTicketEndedOrDeleted]="isTicketEndedOrDeleted"></app-visit-cancel>
    </div>
  </div>

</div>
