/* Common styles */

body{
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.center-text {
  text-align: center;
}

.inner-margin-separator{
  padding-top: 6px;
}

.sub-heading-text-1 {
  font-size: 27px;
  color: #FFFFFF;
  font-family: Nanami-Rounded-Medium;
}

.sub-heading-text-2 {
  font-size: 17px;
  color: #FFFFFF;
  font-family: Nanami-Rounded-Light;
  width: 75%;
  margin: 0 auto;
}

div.row {
  padding: 0 !important;
  margin: 0 auto !important;
}

.sub-heading-text-3 {
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Helvetica";
  font-style: oblique;
  font-weight: 300;
}

.common-btn {
  font-family: "Helvetica";
  color: #303030;
  font-size: 12px;
}

.common-btn {
  stroke: #9c003a;
}

.accent-btn:hover {
  opacity: 1;
}

.accent-btn:active {
  opacity: 1;
  -webkit-box-shadow: inset 0 0 5px #000;
  -moz-box-shadow: inset 0 0 5px #000;
  box-shadow: inset 0 0 5px #000;
}

.accent-btn {
  width: 250px;
  margin: 0 auto;
  line-height: 2em;
  background: rgba(157, 0, 58, 0.58);
  border-radius: 250px;
  color: #FFFFFF;
  font-size: 25px;
  font-family: Nanami-Rounded-Medium;
  font-weight: 300;
}

::-webkit-scrollbar {
  display: none;
}

/* === Load cache === */
.image-for-service-btn {
  background: url('app/resources/serviceBtn.png');
}

.image-for-service-btn-active {
  background: url('app/resources/serviceBtn_active.png');
}

/* Animation */


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Media Queries */
.loader {
  max-width: 50px;
  margin: 0.25em 0.25em 0.25em 0.25em;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (max-width: 480px) {
  .col-xxs {
    display: block;
    float: none;
    width: 100%
  }
}

/* Small phones */
@media (max-width: 450px){
  .sub-heading-text-1 {
    font-size: 25px;
    color: #FFFFFF;
    font-family: Nanami-Rounded-Medium;
  }

  .sub-heading-text-2 {
    font-size: 15px;
    color: #FFFFFF;
    font-family: Nanami-Rounded-Light;
    width: 75%;
    margin: 0 auto;
  }

  .sub-heading-text-3 {
    font-size: 14px;
    color: #FFFFFF;
    font-family: "Helvetica";
    font-style: oblique;
    font-weight: 300;
  }

  .accent-btn {
    width: 250px;
    margin: 0 auto;
    line-height: 2em;
    background: rgba(157, 0, 58, 0.58);
    border-radius: 250px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: Nanami-Rounded-Medium;
    font-weight: 300;
  }
}

/* Center element vertically and horizontally */

.parent-center:before {
  content: '\200B';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.child-center {
  display: inline-block;
  vertical-align: middle;
}
