/* Start customizing your app */

/* Edit to change font color */
.custom.text-color{
  color: #ffde00 !important;
}

/* Edit to change font color of buttons */
.custom.btn-text-color{
  color: #33ff00 !important;
}

/* Edit to change accent color of buttons */
.custom.accent-bg-color {
  background: rgba(157, 0, 58, 0.9) !important
}

/* Edit to change accent color of tick mark */
.custom.accent-tick-color.tick {
  stroke: #A9023A !important;
}

/* Edit to change app background */
.custom.bg-image {
  background: url('../../app/resources/background.jpg') !important;
}

/* Edit to change app logo */
.custom.logo-image {
  content: url('../../app/resources/qmLogo.png') !important;
}

/* Edit to change logo background */
.custom.logo-bg-color {
  background: transparent !important;
}
