.service-list-container {
  margin-bottom: 2em;
}

.btn-text {
  width: 80%;
  vertical-align: super;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qm-footer {
  margin-bottom: 1em;
}

.service-limit-label {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 13vw) !important;
}

.table-child-heading-1 {
  flex: 0.1;
}

.table-child-heading-2 {
  flex: 1;
}

.table-child-list {
  flex: 6;
  overflow: scroll;
}

.table-child-shadow {
  flex: 0.5;
}

.table-child-footer {
  flex: 1;
}

.list-shadow {
  position: relative;
  bottom: 5px;
  max-height: 8px;
  height: 7px;
  box-shadow: inset 0px -3px 4px rgba(0, 0, 0, 1);
  opacity: 0.7;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  content: "...";
  max-width: calc(76vw + 51px);
  text-overflow: initial;
  color: transparent;
}

@media (max-height: 500px) and (orientation: landscape) {
  .table-container {
    height: calc(100vh - 8vw) !important;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .table-container {
    height: calc(100vh - 8vw - 5em) !important;
  }
}

@media only screen and (min-width: 1200px) {
  .list-shadow  {
    width: 800px !important;
    max-width: 800px !important;
  }
}

@media only screen and (min-width: 900px) {
  .list-shadow  {
    width: 700px !important;
    max-width: 800px !important;
  }
}

