.flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
  width: 89%;
}

.long-and-truncated {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.short-and-fixed {
  white-space: nowrap;
  margin: 0 3px;
}

.short-and-fixed > div {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: lightgreen;
  display: inline-block;
}

.long-and-truncated-with-child {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.long-and-truncated-with-child span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long-and-truncated-with-child-corrected {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
  /* or some value */
}

.long-and-truncated-with-child-corrected span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-btn {
  color: black;
  margin: 0 auto;
  height: calc(14vw + 8px) !important;
  /*max-width: calc(76vw + 54px);*/
  max-height: 64px;
  /*max-height: 12em;*/
  max-width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  background: url('app/resources/serviceBtn.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

/*.service-btn:hover {
  background: url('app/resources/serviceBtn_active.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}*/

.service-btn-active {
  background: url('app/resources/serviceBtn_active.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

.service_name {
  display: inline-flex;
}

.service_name > span {
  margin: 0 auto;
}

.btn-text-container {
  width: 100%;
}

div.btn-text {
  /*font-size: calc(3vw + 9px);*/
  font-size: 20px;
  font-weight: 300;
  vertical-align: super;
}

div.btn-text > span:nth-child(1) {
  flex: 2;
}

div.btn-text > span:nth-child(2) {
  flex: 10;
}

.waiting-text {
  font-family: "Helvetica";
  font-weight: 300;
}

svg.tick {
  width: 18px;
  visibility: hidden;
}

.is-visible {
  visibility: visible;
}

/* Media Queries */
/*
@media only screen and (min-width: 1200px) {
  .service-btn {
    width: 800px !important;
    max-width: 800px !important;
  }

  svg.tick {
    width: 2.5vw;
  }
}

@media only screen and (min-width: 900px) {
  .service-btn {
    width: 700px !important;
    max-width: 800px !important;
  }
}

@media only screen and (max-width: 350px) {
  .service-btn {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 280px) {
  .service-btn {
    font-size: 10px !important;
  }
}

@media (min-width: 900px) {
  div.btn-text {
    font-size: calc(2vw + 9px);
  }
}

@media only screen and (min-width: 750px) {
  div.btn-text {
    font-size: 31.5px !important;
  }

  svg.tick {
    width: 37.5px !important;
  }

}
*/
