.sub-heading-margin-bottom {
  margin-bottom: 1.5em;
}

.queue-container {
  max-width: 98%;
  margin: 0 auto;
  display: table;
  min-width: 65%;
}

.queue-heading {
  color: white;
  font-size: 20px;
  color: #FFFFFF;
  font-family: Nanami-Rounded-Light;
  padding-bottom: 8px;
}


/* Small phones */
@media (max-width: 350px), (max-height: 350px) {
  .queue-heading {
    color: white;
    font-size: 15px;
    color: #FFFFFF;
    font-family: Nanami-Rounded-Light;
    padding-bottom: 8px;
  }
}

.queue-heading-alignment{
  text-align: left;
}

.queue-end {
font-size: 1.2em;
  margin-top: 2em;
}

.queue-body {
  padding-top: 5vw;
  display: table-row;
  text-align: right;
}

.app-queue-item{
  font-size: 0em;
}
