.sub-heading-margin-bottom {
  margin-bottom: 1.5em;
}

.queue-container {
  /*
  * Definition - 40px each box, times 9 for nine other boxes, plus 50px for selected box, padding left and right for each of the 10 boxes and 1px precision.
  */
  max-width: calc((9 * 40px) + 50px + (2px * 10) + 1px);
  width: calc((9 * 8.5vw) + 12vw + (2px * 10) + 1px);
  margin: 0 auto;
  display: table;
}

.queue-heading {
  color: white;
  font-size: 20px;
  color: #FFFFFF;
  font-family: Nanami-Rounded-Light;
  padding-bottom: 8px;
}

.queue-heading-alignment{
  text-align: left;
}

.queue-end {
  font-size: 1.2em;
  margin-top: 2em !important;
}

.queue-body {
  padding-top: 5vw;
  display: table-row;
  text-align: right;
}

.app-queue-item{
  font-size: 0em;
}

.recycle-heading {
  font-size: 19px;
  color: #FFFFFF;
  font-family: "Helvetica" !important;
  font-style: oblique !important;
  font-weight: 300;
}

/* Small phones */
@media (max-width: 400px){

  .queue-heading {
    color: white;
    font-size: 18px;
    color: #FFFFFF;
    font-family: Nanami-Rounded-Light;
    padding-bottom: 8px;
  }

  .queue-container {
    max-width: calc((9 * 35px) + 45px + (2px * 10) + 1px);
    width: calc((9 * 8.5vw) + 12vw + (2px * 10) + 1px);
    margin: 0 auto;
    display: table;
    min-width: 65%;
  }
}
