.open-hours{
   width: 100%;
   color:#ffffff;
}

.heading1{
   display: table;
   margin: 0 auto;
   text-align: center;
   font-size: 25px;
   margin-top: 15%;
   margin-bottom: 5%;
}

 .heading2{
   display: table;
   margin: 0 auto;
   text-align: center;
   font-size: 21px;
 }

 .content{
   padding:48px;
   margin: 0 auto;
   display:table;
 }

 .row{
   display: table-row;
 }
