@font-face {font-family: "Nanami-Rounded-Light";
  src: url("app/resources/Nanami-Rounded-Light.otf");
}

@font-face {font-family: "Nanami-Rounded-Medium";
  src: url("app/resources/Nanami-Rounded-Medium.otf");
}

.caption {
  text-align: center;
  font-size: 2em;
  color: #FFFFFF;
}

.center-text {
  text-align: center;
}

.logo-container{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.bg {
  background: transparent !important;
}

.full-with{
  width: 100%;
}

.logo{
  width: 160px;
  max-width: 160px;
  margin: 0 auto;
  content: url('app/resources/qmLogo.png');
}

.frame {
  height: 5em;
  text-align: center;
  max-height: 10em;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Media Queries */
/* Small phones */
@media (max-width: 450px), (max-height: 450px){
  .logo{
    width: 110px;
  }

  .frame {
    height: 4em;
    text-align: center;
    max-height: 10em;
  }
}
