@font-face {font-family: "Nanami-Rounded-Light";
  src: url("app/resources/Nanami-Rounded-Light.otf");
}

@font-face {font-family: "Nanami-Rounded-Medium";
  src: url("app/resources/Nanami-Rounded-Medium.otf");
}

.caption {
  text-align: center;
  font-size: 2em;
  color: #FFFFFF;
}

.center-text {
  text-align: center;
}

.logo-container{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.bg {
  background: url('app/resources/background.png');
  background-size: cover !important;
  background-position: center center !important;
  min-height: 100vh;
}

.full-with{
  width: 100%;
}

.logo{
  /*width: 32vw;*/
  /*max-width: 24em;*/
  width: 200px;
  max-width: 200px;
  margin: 0 auto;
  content: url('app/resources/qmLogo.png');
}

.frame {
  height: 7em;
  text-align: center;
  max-height: 10em;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Media Queries */
/* Small phones */
@media (max-width: 350px), (orientation: landscape) and (max-height: 450px){
  .logo{
    width: 110px;
  }

  .frame {
    height: 4em;
    text-align: center;
    max-height: 10em;
  }
}

/*
@media (max-width: 800px) and (orientation: portrait)  {
  .frame{
    padding-top: 2em !important;
    padding-bottom: 4em !important;
  }

  .logo{
    width: 13em !important;
  }

  .container-fit-height{
    height: calc(100vh - 8vw - 5em) !important;
  }
}


@media (max-height: 500px) and (orientation: landscape)  {
  .frame{
    padding-bottom: 0 !important;
    padding-top: 1em !important;
    height: 8vw;
  }

  .container-fit-height{
    height: calc(100vh - 1vw) !important;
  }

  .logo{
    position: relative;
    width: 25vw;
  }
}
*/
