@font-face {font-family: "Roboto-Light";
  src: url("app/resources/Roboto-Light.ttf");
}

@font-face {font-family: "Roboto-Bold";
  src: url("app/resources/Roboto-Bold.ttf");
}

@font-face {font-family: "Roboto-Regular";
  src: url("app/resources/Roboto-Regular.ttf");
}

#app-bg{
  background: url(app/resources/background.jpg);
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.caption {
  text-align: center;
  font-size: 2em;
  color: #FFFFFF;
}

.center-text {
  text-align: center;
}

.logo-container{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.bg {
  background: transparent !important;
}

.full-with{
  width: 100%;
}

.logo{
  width: 160px;
  max-width: 160px;
  margin: 0 auto;
  content: url('app/resources/qmLogo.png');
}

.frame {
  height: 5em;
  text-align: center;
  max-height: 10em;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Media Queries */
/* Small phones */
@media (max-width: 450px), (max-height: 450px){
  .logo{
    width: 110px;
  }

  .frame {
    height: 4em;
    text-align: center;
    max-height: 10em;
  }
}
