.flex-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.short-and-fixed {
  white-space: nowrap;
}

.short-and-fixed > div {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: lightgreen;
  display: inline-block;
}

.long-and-truncated-with-child-corrected {
  min-width: 0;
}

.long-and-truncated-with-child-corrected span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.branch-btn {
  color: black;
  margin: 0 auto;
  height: calc(14vw + 8px) !important;
  max-height: 64px;
  max-width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAApEAAAB1CAYAAAAWYbp2AAAACXBIWXMAAAsSAAALEgHS3X78AAAIcElEQVR42u3dW4zcVR3A8d9/duk23W5ptwXcikUhbQEREoVEKFVRApYnYywFQqJIifEReMEHLySACmhrjJeoUWMkXBtowZCYlmIiBAMEIcql0gItbtiyu3R7sbs7M//jw/6nTLe7pTzM7kz380lOZnZmHmbOvnxzzpz/ZCmlAACAD6NkCgAA+LDaJ3pwz9DQiV1z516UUjrHFAEAzCzVPP/3O+/0Pf3x05YMRUSkCbaus/rHsizLqtXqzaVS6caUUmYKAQBmrH3Dw8Pr58yZ89uIyFNK+YQRWQTk+izLVhfFKSIBAGa44eHhn3V2dv4kIqr1IXkoIoeHh1d0dHQ8OD4gxSQAwMySZdlh29dPPf3MJZ9buWJ7RFRqW9ul4oVZqa1tRX00ppQyAQkAMPPUOrDWgsuWLb08xs7SHDqUXbuTtZVKn60PSNMHAEDRhfNrEZllWXZYRApHAAAmDMk8zyKirWjHwyJyfG0CAEC9rBaQh0VkLh4BADh6RMYREQkAAMdKRAIAICIBABCRAACISAAARCQAACISAABEJAAAIhIAABEJAICIBABARAIAgIgEAEBEAgAgIgEAEJEAAIhIAAAQkQAAiEgAAEQkAAAiEgAAEQkAgIgEAAARCQCAiAQAQEQCACAiAQCYXJ6n/W//t/fuH9x628r29vbzXvjnS98cHR19Nsuy1Mqfq92/FgCgcTZv2br2ilWXvRwR1YioXHD+p/8eEU8dOHDgl7Nnz/5iSilrxc9lJRIAoEH27tv3aBGQ5YgYLsbBiBh+eONjN1er+autuiIpIgEAGqS/f/DZGFuBHC1GOSIqEVG+9po1/Q9vfPSqcqXyWiuGpIgEAGiQ2bM7uoqIrERENaWUpzF5RFTXrP7qwMZNf1nTiiEpIgEAGmTRwu4vRESqG4eklFIRkoMPbXik5VYkRSQAQIN0dHSc37f73W8UzXXEAZoiJCvXXrNm4N77Hry6Ws17WyUkRSQAQAMtWth9y+53+6+MiLYsyyYLyep1X7+2f/uOHd9KKe1vhZAUkQAADVK7fM/C7gU/HhgcvOooIZlHROWsM5e/+J/Xt1/dCiEpIgEApiAk55944p0Dg4NXxwesSJ515vKXXnl12zXNHpIiEgBgCkOyf2DgiviAFclPnXP2i80ekiISAGAKQ3LB/Pl373jjzXMjonQsIRkR0YwhKSIBAKY2JLtOW/Kx+3a88eZ5xxKS7/YP3NKMISkiAQCm3mEhuWTJaZOG5EdOOfm+vr7d32m2kBSRAABTqLatXQvJt3buOnfXrp3ZJK/NI6KyeHFP04WkiAQAmMaQPPWji+9/5dXXPpFl2YQrkj09PXlElJstJEUkAMA0h+QZp5/+u02PPb5w166dR3xHsre3N0VELSTv3TM0dEczhKSIBACY5pBsayudueryS+/f9Njj3TH5zyPmEVFZ2N39m5GRkYen+72LSACAJgjJUql01qrLL73/r5uf6M6yrHS0kJwzZ85No6OjW6ZzNVJEAgA0UUhe8vmVDxxDSJZ3vd27LmL6trVFJABAk4XkyosvWhcR7UcLyWVLz3jJSiQAAJFSyqrV/MDzz7/wq4hoj8kvRp7e27Nnce3v6YhJEQkA0CTyPO1/4sm/XX/xigu3FZ2WTfbaeV1dq6fzvYpIAIAmCcjNW7au/fJll74SEZVi5MX29XhXlkqlG0UkAMAMt3nL1rVXrLrs5YgoR8RoLSIneOmFEbGu7jqT9decFJEAADPF9h1vfL8uIEeK2+oEq5CfjIg/1KJxOuJRRAIANElALl+29JFxAVmZJCA3pJTm1QfkdIWkiAQAmN6A3Bjvb2EfNSAjoqsZAlJEAgBMf0BWioAcjcm3sDdERFdKKWuGgIwYu/4QAABTaPC9PfcUW9jjA3L8QZp5EbG+2QJSRAIATLG9+/Y9evJJi+4sAnKkCMjKJAG5ISLObraAjLCdDQAwpQHZvWDBd1s9IEUkAMD0BORoKwekiAQAmAIHDvzvySIgq/UBGRET/RrN72sBWXug2QJSRAIANFi5XN52190/rQ/IkVpATnASe31EXNisq4/1HKwBAGiQPE/7b7v9R2tvv+3WoXj/YuKT/Sb2+ohYPT4gmzUkrUQCADTInqGhjeMCsnw8BKSIBABooL6+3c/F+wdpyj09PcdFQIpIAIAG6uk55TMx9l3ISkTkvb294wPyylYMSBEJANBA87rmfeXnv/j13Bg7hT1RQK5rxYAUkQAADdTWVuq8Ye11f967d9/qiKiPwxtaOSAjnM4GAGioE9rbl8864YS78jz/XkrpX1mWnRoRp7ZyQIpIAIAGSillWZal4rYrxq4BedjzrRiQIhIAYApDcrLnW/FziUgAgCkIyYiILMtSq8ejiAQAmKaYPB44nQ0AgIgEAEBEAgAgIgEAEJEAAIhIAAAQkQAAiEgAAEQkAAAiEgAAEQkAACISAAARCQCAiAQAQEQCACAiAQBARAIAICIBABCRAACISAAARCQAACISAABEJAAAIhIAABEJAMDxE5GVcvkZ0wEAwCTShBE5MPjePyIisixL5ggAgJo339r53PjHspRSZFlWiohZBw8efGDWrFkXpJQy0wUAwMjIyHOdnZ3XR8RwMUZTSqm2EpkiIv/jn+759mi5vM10AQBQLpe33fHDO2+KiGox8tpztZXILMa2tjsiouP17Tu+dtKiRV9qb2+ba/oAAGaWSqW6/52+vq3Lly3dVMTjaIytQpZTStVDERkRtZBsj4hZxWgvwtLWNgDAzJOKgKwUETkaEdVUxOOhiCxCshQRbUVAthf3axEpJgEAZkY8RoxtXdcislIfkEdEZBGSta3t2hCPAAAzMybz2kjjovGIiBwXkwISAGDmRmSkSWLx/7gKIVxCo0hXAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

.branch-btn:active {
  opacity: 0.8;
}

.btn-text {
  font-size: 17px;
  font-weight: 400;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: -webkit-baseline-middle;
  width: 70%;
}

.branch-addr {
  font-weight: 300 !important;
}

.branch-btn-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  line-height: 1.3em;
  display: block;
  font-weight: 300 !important;
}

.more-info {
  line-height: 1em;
  font-size: 14px;
}

.align-content {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 66%;
}

.margin-center {
  margin: 0 auto;
}

/* Media Queries */

@media (min-width: 450px) {
  .btn-text {
    font-size: 17px;
    font-weight: 400;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -webkit-baseline-middle;
    width: 70%;
  }
}
