<div
  [ngClass]="{'branch-btn-rtl': isRtl, 'branch-btn': true, 'center-text' : true, 'common-btn': true, 'bg' : true, 'branch-btn' : true}"
  (click)='selectBranch(entity)'>
  <div class="align-content">
    <div class="btn-text">
      {{ name }}
    </div>

    <span *ngIf="distance || address" class="more-info flex-parent has-child">
        <span class="flex-child long-and-truncated-with-child-corrected text-center">
          <span *ngIf="address" class="branch-btn-text"> {{ address }} </span>
        </span>
        <span *ngIf="address">&nbsp;</span>
        <span class="flex-child short-and-fixed">
          <span *ngIf="distance" [class.branch-addr-padding]="address"
                class="branch-addr"> {{ "(" + distance + ")" }} </span>
        </span>
      </span>

  </div>
</div>
