.branch-btn {
  color: black;
  margin: 0 auto;
  height: calc(14vw + 8px) !important;
  max-height: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: url(app/resources/branchBtn.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

.branch-btn:hover {
  opacity: 0.8;
}

.branch-btn:active {
  opacity: 0.8;
}


.btn-text {
  font-size: calc(3vw + 9px);
  font-weight: 100;
  width: 80%;
  vertical-align: super;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.branch-btn-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}

.more-info {
  font-size: calc(1vw + 12px);
}

.align-content {
  width: 100%;
  line-height: calc(1vw + 11px);
}

.container {
  display: flex;
  flex-direction: row;
  width: 66%;
}

.left {
  order: 1;
  text-align: center;
}

.margin-center{
 margin: 0 auto;
}

.right {
  order: 2;
  /*width: 125px;
  margin: 0 auto;*/
  text-align: center;
}

/* Media Queries */

@media (min-width: 600px) {
  .branch-btn-text{
    width: 48%;
  }
}

@media (min-width: 1200px) {
  .branch-btn-text{
    width: 35%;
  }
}

@media (min-width: 1000px) {
  .btn-text {
    font-size: 47px;
  }

  .more-info {
    font-size: 24px;
  }

  .branch-btn-text{
    width: 40%;
  }
}

@media (min-width: 970px) {
  .left {
    order: 1;
    flex-grow: 1;
  }

  .right {
    order: 2;
    /*width: 150px;
    margin: 0 auto;*/
    text-align: center;
  }

  .branch-btn-text{
    width: 43%;
  }
}

@media (max-width: 430px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 1010px) {
  .branch-btn-text {
    max-width: 400px !important;
  }
}


