<div class="col center-text queue-itm parent-center"
     [ngClass]="{empty:isEmptyQueueItem(), selected:hilightSelctedPosition(), other:!hilightSelctedPosition() && !isEmptyQueueItem(), animselected:animatePosition()}">
  <div [ngClass]="{'child-center': true, 'center-content' : !hilightSelctedPosition()}">
    <div class="box  ellipsis  reverse-ellipsis content-container-one">
      <div class="ellipsis__content">{{ getQueueIndex() }}</div>
    </div>
    <div *ngIf="hilightSelctedPosition()" class="content-container-two">
      <div class="ellipsis__content">{{ 'ticketInfo.yourPosition' | translate }}</div>
    </div>
  </div>
</div>
