/* Media Queries */

.queue-itm {
  display: inline-block;
  color: black;
  vertical-align: middle;
  margin-right: 1px;
}

@keyframes pulse-other {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-selected {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.queue-itm.other {
  background: lightslategrey;
  width: 8.5vw;
  padding: 0.3em;
  font-size: calc(1vw + 13px);
  max-width: 50px;
  max-height: 50px;
  text-align: -webkit-center;
}

.queue-itm.selected {
  background: white;
  font-size: calc(1vw + 13px);
  width: 12vw;
  height: 11vw;
  max-width: 60px;
  max-height: 60px;
  display: inline-table;
  /*animation: pulse-selected 2s;*/
}

.queue-itm.animselected {
  animation: pulse-selected 2s;
}

.content-container-one, .content-container-two{
  display: table-row;
  vertical-align: middle;
}

.content-container-one > div, .content-container-two > div {
  display: table-cell;
  vertical-align: middle;
}
