.queue-itm {
  display: inline-block;
  color: black;
  vertical-align: middle;
  margin-right: 2px;
}

.center-content {
  position: relative;
  right: 2px;
}

.queue-itm.empty{
  background: lightslategrey;
  opacity: 0.25;
   width: 8.5vw;
  height: 8.5vw;
  font-size: 16px;
  max-width: 40px;
  max-height: 40px;
}

.queue-itm.other {
  background: lightslategrey;
  width: 8.5vw;
  height: 8.5vw;
  font-size: 16px;
  max-width: 40px;
  max-height: 40px;
  text-align: -webkit-center;
}

.queue-itm.selected {
  background: white;
  font-weight: 500;
  font-size: 17px;
  width: 12vw;
  height: 12vw;
  max-width: 50px;
  max-height: 50px;
  display: inline-table;
}

.queue-itm.animselected {
  animation: pulse-selected 2s;
}

.content-container-one, .content-container-two {
  display: table-row;
  vertical-align: middle;
}

.content-container-one > div, .content-container-two > div {
  display: table-cell;
  vertical-align: middle;
}

/* Animation */
@keyframes pulse-other {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-selected {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 400px) {
  .queue-itm.other {
    background: lightslategrey;
    width: 8.5vw;
    height: 8.5vw;
    font-size: 13px;
    max-width: 35px;
    max-height: 35px;
    text-align: -webkit-center;
  }

  .queue-itm.selected {
    background: white;
    font-weight: 500;
    font-size: 15px;
    width: 12vw;
    height: 12vw;
    max-width: 45px;
    max-height: 45px;
    display: inline-table;
  }
}
