.ticket_container {
  background: url('app/resources/Ticket.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  height: 50vw;
  max-height: 388px;
  margin: 1em auto;
}

.ticket_info {
  text-align: center;
  font-weight: bold;
  display: table;
  width: 100%;
}

.ticket_branch {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 1.2em !important;
}

.ticket_nmbr {
  font-size: calc(10px + 10vw) !important;
}

.ticket-size-1 {
  font-size: calc(30px + 25vw) !important;
}

.ticket-size-2 {
  font-size: calc(15px + 23vw) !important;
}

.ticket-size-3 {
  font-size: calc(12px + 15vw) !important;
}

.ticket-size-4 {
  font-size: calc(12px + 12vw) !important;
}

.ticket-size-5 {
  font-size: calc(12px + 8vw) !important;
}

.ticket-size-6 {
  font-size: calc(3px + 10vw) !important;
}

.ticket-service-name {
  color: black !important;
  font-size: calc(10px + 3vw) !important;
  width: 40% !important;
  line-height: 24px;
}

.ticket-remove-heading {
  margin-top: 10vw !important;
  margin-bottom: 10vw !important;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.ticket-text {
  width: 80%;
  vertical-align: super;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fadeIn {
  visibility: visible !important;
}

.fadeOut {
  visibility: hidden !important;
}

.v-center{
  vertical-align: middle;
  display: table-cell;
  line-height: 10vw;
}

.inside-margin{
  height: calc(0.8vw + 5px);
}

@media (orientation: landscape) {
  .ticket_container {
    background: url('app/resources/TicketSmall.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    height: 21vw;
    max-height: 260px;
    margin: 1em auto;
  }

  .button-container {
    width: 50%;
    float: left;
    margin-top: 12vw;
  }

  .ticket_nmbr{
    font-size: calc(10px + 5vw) !important;
  }

  .ticket-service-name {
    color: black !important;
    font-size: calc(10px + 2vw) !important;
  }

  .v-center{
    line-height: 5vw;
  }

  .ticket-size-1 {
    font-size: calc(20vw - 67px) !important;
  }

  .ticket-size-2 {
    font-size: calc(20vw - 67px) !important;
  }

  .ticket-size-3 {
    font-size: calc(15vw - 67px) !important;
  }

  .ticket-size-4 {
    font-size: calc(3px + 7vw) !important;
  }

  .ticket-size-5 {
    font-size: calc(3px + 6vw) !important;
  }

  .ticket-size-6 {
    font-size: calc(3px + 5vw) !important;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {

  .inside-margin{
    height: 20px;
  }

  .ticket-size-1 {
    font-size: calc(20vw - 67px) !important;
  }

  .ticket-size-2 {
    font-size: calc(20vw - 67px) !important;
  }

  .ticket-size-3 {
    font-size: calc(15vw - 67px) !important;
  }

  .ticket-size-4 {
    font-size: calc(3px + 6vw) !important;
  }

  .ticket-size-5 {
    font-size: calc(3px + 5vw) !important;
  }

  .ticket-size-6 {
    font-size: calc(3px + 4vw) !important;
  }
}

