.zero-pad{
  padding: 0 !important;
  margin: 0 !important;
}

.width-control{
  width: 100%;
  margin: 0 auto;
}

.loader-alignment{
  text-align: right;
  width: 48px;
}

.table-style{
  height: 4em;
  text-align: center;
  width: 100%;
}

.inline-block-elem{
  display: inline-block;
}

.left-cell{
  width: 50px;
  margin: 0.5em;
}

.right-cell{
  vertical-align: middle;
  text-align: center;
  display: inline;
  width: 100%;
  text-overflow: ellipsis;
  overflow: auto;
}

.loader-container{
  margin: 0 auto;
  text-align: center;
}

.loader-container{
  margin-top: 3em;
}

.list-container {
  margin-top: 1em;
}

.list-shadow {
  position: relative;
  bottom: 9px;
  height: 10px;
  box-shadow: inset 0px -3px 4px rgba(0, 0, 0, 1);
  opacity: 0.7;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

/* unvisited link */

#link-to-reload {
  color: white !important;
  text-decoration: underline;
}

/* Hide scroll bar */

::-webkit-scrollbar {
  display: none;
}

/* Media Queries */

@media only screen and (max-width: 280px) {
  .list-container {
    height: calc(100vh - 236px);
  }
}
